.blinking-icon-right {
  position: relative;
  padding-right: 20px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  font-family: Inter, sans-serif;
}

.blinking-icon-right::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -9px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid violet;
  box-sizing: border-box;
  background-color: white;
}

.blinking-icon-left {
  position: relative;
  padding-left: 20px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  font-family: Inter, sans-serif;
}

.blinking-icon-left::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -9px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid violet;
  box-sizing: border-box;
  background-color: white;
}
